.song-container {
  display: flex;
  margin-bottom: 15px;
}

.song-container .image-container {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.song-container .image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background: black;
}

.song-container .title {
  font-size: 18px;
}

/* .song-container */
.right {
  /* width: 100%; */
  /* padding: 0 20px; */
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.song-container .right button {
  align-self: flex-end;
}

.amplify-grid {
  width: 500px;
}

.amplify-label {
  color: white;
}

.amplify-textfield input {
  color: rgb(193 193 193);
}

.amplify-storagemanager__dropzone {
  padding: 10px;
  background-color: black;
}

.amplify-button {
  color: rgb(203, 203, 203);
}

.overlay {
  background: rgba(62, 62, 62, 0.2);
}
