.song-container {
  display: flex;
}

.song-container .image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background: black;
  margin-bottom: 10px;
}

.song-container .title {
  font-size: 18px;
}

.song-container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.amplify-grid {
  width: 500px;
}

.amplify-label {
  color: white;
}

.amplify-textfield input {
  color: rgb(193 193 193);
}

.amplify-storagemanager__dropzone {
  padding: 10px;
  background-color: black;
}

.amplify-button {
  color: rgb(203, 203, 203);
}
