.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo-img {
  height: 150px;
  width: 150px;
  transform: translate(-30px, -30px);
}

.logo-img img {
  width: 100%;
} */

.hamburger-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}

.hamburger-menu button {
  opacity: 1;
  margin-top: 8px;
}
